<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My calendar</title>

  <link rel="stylesheet" href="styles/style.css">
  <!-- FIX FOR FAVICON.ICO -->
  <link rel="shortcut icon" href="#">

  <script src="https://kit.fontawesome.com/6373764ea4.js" crossorigin="anonymous"></script>
</head>

<body>
  <!-- Header -->
  <%- include('partials/header.ejs') %>
  <%- include('partials/nav.ejs') %>

  <main>

    <h3 id="month">May</h3>
    <h3 id="year">2022</h3>

    <nav>
      <i class="fa-solid fa-circle-arrow-left" id="previous"></i>
      <h2 id="week" style="display: inline;">Week</h2>
      <i class="fa-solid fa-circle-arrow-right" id="next"></i>
    </nav>

    <p>Click on a day-bubble to add an event!</p>

    <form action="/calendar" method="post" id="eventPop">

      <label for="title">Title</label><br>
      <input type="text" name="title" id="title"><br>

      <label for="date" class="label">Date</label><br>
      <input type="date" name="date" id="date"><br>

      <label for="time" class="label">Time</label><br>
      <input type="time" name="time" id="time"><br>

      <button type="submit" id="submit">Add event</button>
    </form>

    <div id="calendar-wrapper">

    </div>

    <div id="box">
      <% events.forEach(ele => { %>

      <div class="eventDiv">
        <p class="event-title"><%- ele.title %></p>
        <p class="event-time"><%- ele.time %></p>
        <button class="edit-btn" data-id="<%= ele.id %>" id="<%= ele.id %>">Edit</button>
        <button class="delete-btn" onclick="deleteEvent(<%= ele.id %>)">Delete</button>
      </div>
      <% }); %>
    </div>

  </main>

  <!-- Footer -->
  <%- include('partials/footer.ejs') %>

</body>
<script src="/scripts/functions.js"></script>
</html>